<!DOCTYPE html>
<html>
<head>
    <title>Level 2 - CodeQuest</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>

<div class="container">

    <h1>Level 2 🔥</h1>
    <h3>Score: {{ score }}</h3>

    <p><b>Question:</b> Which symbol is used for comments in Python?</p>

    <form method="POST">
        <input type="radio" name="answer" value="//"> // <br>
        <input type="radio" name="answer" value="#"> # <br>
        <input type="radio" name="answer" value="/* */"> /* */ <br><br>

        <button type="submit">Submit</button>
    </form>

    {% if result == "level2_correct" %}
        <h2>Correct 🎉</h2>
        <a href="/level3">
            <button>Next Level 💻</button>
        </a>
    {% elif result == "wrong" %}
        <h2>Wrong ❌ Try Again</h2>
    {% endif %}

</div>

</body>
</html>