<!DOCTYPE html>
<html>
<head>
    <title>Level 3 - CodeQuest</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>

<div class="container">

    <h1>Level 3 💻</h1>
    <h3>Score: {{ score }}</h3>

    <p><b>Question:</b> Write Python code to print "Hello"</p>

    <form method="POST">
        <textarea name="code" rows="6" placeholder="Write your code here..."></textarea><br>
        <button type="submit">Submit</button>
    </form>

    {% if result == "level3_correct" %}
        <h2>Correct 🎉</h2>
        <a href="/level4">
            <button>Next Level 🔥</button>
        </a>
    {% elif result == "wrong" %}
        <h2>Wrong ❌ Try Again</h2>
    {% endif %}

</div>

</body>
</html>